In [1]:
import pandas as pd
import json

In [6]:
#Convert PDF to Images , each page converted into seprate image

from pdf2image import convert_from_path

from pdf2image.exceptions import (
 PDFInfoNotInstalledError,
 PDFPageCountError,
 PDFSyntaxError
)

In [7]:
# Function to convert to Strings  
def listToString(s):  
    
    # initialize an empty string 
    str1 = ""  
    
    # traverse in the string   
    for ele in s:  
        str1 += ele   
    
    # return string   
    return str1

In [8]:
#function to find all floats values from list
def solve(lis):
    for x in lis:
        try:
            float(x)
            return True
        except:
            return False

In [9]:
# OCR Works Here

try:
    from PIL import Image
except ImportError:
    import Image
import pytesseract

def ocr_core(filename):
  
    text = pytesseract.pytesseract.image_to_string(Image.open(filename))
    return text  # Then we will print the text in the image

In [12]:

img=[]
texts = []
fname = ('image3.png')
text  =  ocr_core(fname)
text = listToString(text)  
texts.append(text)
text1 = listToString(texts)

In [13]:
print(text1)

PROCESSED AT:

Thyrecar Thyrocare’

H. NO. 1-9-645,Vidyanagar,
Adikmet Road,Near SBH, Think Thyroid. Think Thyrocare.
Hyderabad-500 044

Corporate Office : Thyrocare Technologies Limited 9 D-37/3, TTC MIDC, Turbhe, Navi Mumbai - 400703

© 022 - 3090 0000 / 41252525 8691866066 4 wellness@thyrocare.com www.thyrocare.com





NAME : MRS K SANDYA (32Y/F) SAMPLE COLLECTED AT :

REF. BY : SELF (18900), INDIRA DIAGNOSTIC CENTRE,NARSIPATNAM,
TEST ASKED : AAROGYAM B ANDHRA PRADESH,531116

TEST NAME TECHNOLOGY VALUE UNITS NORMAL RANGE
ALKALINE PHOSPHATASE PHOTOMETRY 48.68 U/L 45 - 129
BILIRUBIN - TOTAL PHOTOMETRY 0.48 mg/dl 0.3-1.2
BILIRUBIN -DIRECT PHOTOMETRY 0.15 mg/dl < 0.3
BILIRUBIN (INDIRECT) CALCULATED 0.33 mg/dl 0-0.9

GAMMA GLUTAMYL TRANSFERASE (GGT) PHOTOMETRY 12.3 U/I < 38
ASPARTATE AMINOTRANSFERASE (SGOT ) PHOTOMETRY 33.4 u/I <31
ALANINE TRANSAMINASE (SGPT) PHOTOMETRY 27.9 U/I < 34

PROTEIN - TOTAL PHOTOMETRY 7.5 gm/dl 5.7-8.2
ALBUMIN - SERUM PHOTOMETRY 4.3 gm/dl 3.2-4.8
SERUM ALB/GLOBULIN RATIO CALCULATED 1.34 Ratio 0.9-2

SERUM GLOBULIN PHOTOMETRY 3.2 gm/dL 2.5-3.4

Please correlate with clinical conditions.

Method :

ALKP - MODIFIED IFCC METHOD

BILT - VANADATE OXIDATION

BILD - VANADATE OXIDATION

BILI - DERIVED FROM SERUM TOTAL AND DIRECT BILIRUBIN VALUES
GGT - MODIFIED IFCC METHOD

SGOT - IFCC* WITHOUT PYRIDOXAL PHOSPHATE ACTIVATION
SGPT - IFCC* WITHOUT PYRIDOXAL PHOSPHATE ACTIVATION
PROT - BIURET METHOD

SALB - ALBUMIN BCG:METHOD (COLORIMETRIC ASSAY ENDPOINT)
A/GR - DERIVED FROM SERUM ALBUMIN AND PROTEIN VALUES
SEGB - DERIVED FROM SERUM ALBUMIN AND PROTEIN VALUES

Sample Collected on (SCT) : 17 May 2019 08:00

Sample Received on (SRT) : 18 May 2019 12:28 4

Report Released on (RRT) : 18 May 2019 20:33 “

Sample Type : SERUM .

Labcode : 1805067131/A6750 Dr.Siva Ranjan MD(Path) Dr.Caesar Sengupta MD(Micro)

Barcode : N3120413 Page : 4 of 9

In [8]:
# Word List for Keywords to Fetch Info
word_list = [
'H.P.L.C',
'AVERAGE BLOOD GLUCOSE (ABG)',
'TOTAL LEUCOCYTES COUNT',
'NEUTROPHILS',
'LYMPHOCYTE PERCENTAGE',
'MONOCYTES',
'EOSINOPHILS',
'BASOPHILS',
'IMMATURE GRANULOCYTE PERCENTAGE(IG%)',
'NEUTROPHILS - ABSOLUTE COUNT',
'LYMPHOCYTES - ABSOLUTE COUNT',
'MONOCYTES - ABSOLUTE COUNT',
'BASOPHILS - ABSOLUTE COUNT',
'EOSINOPHILS - ABSOLUTE COUNT',
'IMMATURE GRANULOCYTES(IG)',
'TOTAL RBC',
'NUCLEATED RED BLOOD CELLS',
'HEMOGLOBIN',
'HEMATOCRIT(PCV)',
'MEAN CORPUSCULAR VOLUME(MCV)',
'MEAN CORPUSCULAR HEMOGLOBIN(MCH)',
'MEAN CORP.HEMO.CONC(MCHC)',
'RED CELL DISTRIBUTION WIDTH - SD(RDW-SD)',
'RED CELL DISTRIBUTION WIDTH (RDW-CV)',
'PLATELET DISTRIBUTION WIDTH(PDW)',
'MEAN PLATELET VOLUME(MPV)',
'PLATELET COUNT',
'PLATELET TO LARGE CELL RATIO(PLCR)',
'PLATELETCRIT(PCT)',
'IRON',
'TOTAL IRON BINDING CAPACITY (TIBC)',
'% TRANSFERRIN SATURATION',
'ALKALINE PHOSPHATASE',
'BILIRUBIN - TOTAL',
'BILIRUBIN -DIRECT',
'BILIRUBIN (INDIRECT)',
'GAMMA GLUTAMYL TRANSFERASE (GGT)',
'ASPARTATE AMINOTRANSFERASE (SGOT )',
'ALANINE TRANSAMINASE (SGPT)',
'PROTEIN - TOTAL',
'ALBUMIN - SERUM',
'SERUM ALB/GLOBULIN RATIO',
'SERUM GLOBULIN',
'TOTAL CHOLESTEROL',
'HDL CHOLESTEROL - DIRECT',
'LDL CHOLESTEROL - DIRECT',
'TRIGLYCERIDES',
'TC/ HDL CHOLESTEROL RATIO',
'LDL / HDL RATIO',
'VLDL CHOLESTEROL',
'NON-HDL CHOLESTEROL',
'TOTAL TRIIODOTHYRONINE (T3)',
'TOTAL THYROXINE',
'THYROID STIMULATING HORMONE',
'BLOOD UREA NITROGEN (BUN)',
'CREATININE - SERUM',
'BUN / SR.CREATININE RATIO',
'CALCIUM',
'URIC ACID',
'EST. GLOMERULAR FILTRATION RATE',
'Vitamin',
]

In [9]:
# Wordlist to Delete Useless data from the list
stopwords = ['X103pL','X103/pL','-','4.0-10.0','X103/uL','2.0-7.0','1.0-3.0','%','C.L.L.A',
             'C.LI.A','ng/d|','HIU/ml','CLA','/','Nil','.-',
            '20-40','PERCENTAGE(IG%)','0-0.5','IMMATURE', '40-80','0.0-6.0','0.0-6.0','0-0.1','mg/dl',
            '<2','0-10','<','>', 'X', '103', 'pL', '0.2-1','X1046/pL', '<0.01','g/dL', '13-17','fl', '83-101',
            'pq', '27-32','g/dL', '31.5-34.5','0-0.3','40-50','fL', '39-46','11.6-14','9.6-15.2','4.5-5.5','g/dl',
           'PHOTOMETRY','CALCULATED','(eGFR)', 'Ratio', '9:1-23:1', '(mg/dl)',
             'mL/min/1.73', 'm2','uIU/ml', '0.3-5.5','85-130','35-80','125-200','gm/dL', '2.5-3.4','u/|', '<35','(',')',
            'u/I', '<55','gm/dl', '3.2-4.8''5.7-8.2','6.5-12','19.7-42.4','0.19-0.39','0.3-1.2','0-0.9','5.7-8.2',
            '3.2-4.8','3-5', 'ng/dl', '60-200','ug/dl', '4.5-12','7-25','0.6-1.1','8.8-10.6','-7.3','5-40','U/L','1.5-3.5',
            'RATIO','150-400','4.0-10.0','25-200','B12 pg/mL 911','B12' ,'pg/mL' ,'911',]

In [10]:
# Main function to collect the data

data = []
for row in text1.split('\n'):
    for word in list(word_list):
        if row.startswith(word):
            word = row.split()
            word = word
            for word_name in list(word):  
                if word_name in stopwords:

                    word.remove(word_name)
 
            for i in word:
                if  solve(i):
                    null = i
                    word.remove(null)
                    i = float(i)
            
            word = [x for x in word if not isinstance(x, int)]   
            word = [' '.join(word)]
            print(word)
            word.append(i)
            #word.remove(str(i))
            print(word)
            data.append(word)

['TOTAL TRIIODOTHYRONINE (T3) C.LLA']
['TOTAL TRIIODOTHYRONINE (T3) C.LLA', 159.0]
['TOTAL THYROXINE (T4) C.LLA']
['TOTAL THYROXINE (T4) C.LLA', 9.0]
['THYROID STIMULATING HORMONE (TSH) C.LLA UIU/ml']
['THYROID STIMULATING HORMONE (TSH) C.LLA UIU/ml', 1.8]

In [11]:
data

[['TOTAL TRIIODOTHYRONINE (T3) C.LLA', 159.0],
 ['TOTAL THYROXINE (T4) C.LLA', 9.0],
 ['THYROID STIMULATING HORMONE (TSH) C.LLA UIU/ml', 1.8]]

In [12]:
columns_name = ['Keywords','Values']

In [13]:
df = pd.DataFrame(data)
df.head()

                                                0      1
0               TOTAL TRIIODOTHYRONINE (T3) C.LLA  159.0
1                      TOTAL THYROXINE (T4) C.LLA    9.0
2  THYROID STIMULATING HORMONE (TSH) C.LLA UIU/ml    1.8

In [14]:
df.columns = ['Keys','Values']

In [15]:
df['Keys'] = df['Keys'].str.replace('\d+', '')
#df['Keys'] = df['Keys'].str.replace('\.','')
#df['Keys'] = df['Keys'].replace({'.':'-'}, regex=True)

In [16]:
df['Keys'] = df['Keys'].str.replace('\.','')
df['Keys'] = df['Keys'].str.replace('\-','')

In [17]:
#df = df.set_index("Keys")

In [18]:
df.head(60)

                                            Keys  Values
0                TOTAL TRIIODOTHYRONINE (T) CLLA   159.0
1                       TOTAL THYROXINE (T) CLLA     9.0
2  THYROID STIMULATING HORMONE (TSH) CLLA UIU/ml     1.8

In [19]:
df

                                            Keys  Values
0                TOTAL TRIIODOTHYRONINE (T) CLLA   159.0
1                       TOTAL THYROXINE (T) CLLA     9.0
2  THYROID STIMULATING HORMONE (TSH) CLLA UIU/ml     1.8

In [144]:
#df = df1.transpose()

In [145]:
#df1.drop_duplicates(subset ="Keywords",keep = False, inplace = True)

In [146]:
#df['Keys'] = df['Keys'].str.replace('\d+', '')

In [147]:
#df.columns = ['Keys','Values']

In [148]:
#df = df.set_index("Keys")

In [149]:
df.head(60)

                                                Values
Keys
H.P.L.C                                            8.3
AVERAGE BLOOD GLUCOSE (ABG)                        192
TOTAL LEUCOCYTES COUNT                             6.4
NEUTROPHILS                                       49.7
LYMPHOCYTE PERCENTAGE                             42.8
MONOCYTES                                          2.3
EOSINOPHILS                                        4.7
BASOPHILS                                          0.2
GRANULOCYTE                                        0.3
NEUTROPHILS ABSOLUTE COUNT                        3.18
NEUTROPHILS ABSOLUTE COUNT                        3.18
LYMPHOCYTES ABSOLUTE COUNT                        2.74
MONOCYTES ABSOLUTE COUNT                          0.15
MONOCYTES ABSOLUTE COUNT                          0.15
BASOPHILS ABSOLUTE COUNT                          0.01
BASOPHILS ABSOLUTE COUNT                          0.01
EOSINOPHILS ABSOLUTE COUNT                         0.3
EOSINOPHILS ABSOLUTE COUNT                         0.3
GRANULOCYTES(IG)                                  0.02
TOTAL RBC                                         6.13
NUCLEATED RED BLOOD CELLS                        CELLS
NUCLEATED RED BLOOD CELLS                        CELLS
HEMOGLOBIN                                        18.1
HEMATOCRIT(PCV)                                  50.68
MEAN CORPUSCULAR VOLUME(MCV)                     100.2
MEAN CORPUSCULAR HEMOGLOBIN(MCH)                  29.5
MEAN CORP.HEMO.CONC(MCHC)                         29.5
RED CELL DISTRIBUTION WIDTH SD(RDW-SD)            62.9
RED CELL DISTRIBUTION WIDTH (RDW-CV)              17.6
PLATELET DISTRIBUTION WIDTH(PDW)                  11.1
MEAN PLATELET VOLUME(MPV)                          9.4
PLATELET COUNT                                     222
PLATELET TO LARGE CELL RATIO(PLCR)                20.5
PLATELETCRIT(PCT)                                 0.21
IRON                                              69.1
TOTAL IRON BINDING CAPACITY (TIBC)                 348
TRANSFERRIN SATURATION                           19.86
ALKALINE PHOSPHATASE                               129
BILIRUBIN TOTAL                                   0.35
BILIRUBIN -DIRECT .                               0.08
BILIRUBIN (INDIRECT)                              0.27
GAMMA GLUTAMYL TRANSFERASE (GGT)                  91.1
ASPARTATE AMINOTRANSFERASE (SGOT                  22.5
ALANINE TRANSAMINASE (SGPT)                       21.4
PROTEIN TOTAL                                      6.6
ALBUMIN SERUM                                       41
SERUM ALB/GLOBULIN .-                             1.64
SERUM GLOBULIN                                     2.5
TOTAL CHOLESTEROL                                  220
HDL CHOLESTEROL DIRECT                              36
LDL CHOLESTEROL DIRECT                             167
TRIGLYCERIDES                                      188
TC/ HDL CHOLESTEROL                                6.1
LDL HDL                                            4.7
VLDL CHOLESTEROL                                  37.6
NON-HDL CHOLESTEROL                              184.1
TOTAL CHOLESTEROL HDL LDL TRIGLYCERIDES  TRIGLYCERIDES
TOTAL TRIIODOTHYRONINE (T)                          99
TOTAL THYROXINE (T)                                6.4
THYROID STIMULATING HORMONE (TSH)                 3.42

In [73]:
df.to_csv('dataset.csv')

In [74]:
df1 = pd.read_csv('dataset.csv')

In [75]:
df1

                               Keys Values
0                           H.P.L.C    8.3
1       AVERAGE BLOOD GLUCOSE (ABG)  192.0
2            TOTAL LEUCOCYTES COUNT    6.4
3                       NEUTROPHILS   49.7
4             LYMPHOCYTE PERCENTAGE   42.8
..                              ...    ...
61                 CREATININE SERUM   0.74
62              BUN / SR.CREATININE  16.57
63                          CALCIUM   9.16
64                    URIC ACID 4.2    3.3
65  EST. GLOMERULAR FILTRATION RATE  117.0

[66 rows x 2 columns]

In [76]:
df1.columns

Index(['Keys', 'Values'], dtype='object')

In [77]:
df1.drop_duplicates(subset = 'Keys',keep = False, inplace = True)

In [78]:
df1 = df1.dropna(axis=1)

In [79]:
df1.to_json('df1_data.json',orient='values')

In [80]:
df1

                                       Keys         Values
0                                   H.P.L.C            8.3
1               AVERAGE BLOOD GLUCOSE (ABG)          192.0
2                    TOTAL LEUCOCYTES COUNT            6.4
3                               NEUTROPHILS           49.7
4                     LYMPHOCYTE PERCENTAGE           42.8
5                                 MONOCYTES            2.3
6                               EOSINOPHILS            4.7
7                                 BASOPHILS            0.2
8                               GRANULOCYTE            0.3
11               LYMPHOCYTES ABSOLUTE COUNT           2.74
18                         GRANULOCYTES(IG)           0.02
19                                TOTAL RBC           6.13
22                               HEMOGLOBIN           18.1
23                          HEMATOCRIT(PCV)          50.68
24             MEAN CORPUSCULAR VOLUME(MCV)          100.2
25         MEAN CORPUSCULAR HEMOGLOBIN(MCH)           29.5
26                MEAN CORP.HEMO.CONC(MCHC)           29.5
27   RED CELL DISTRIBUTION WIDTH SD(RDW-SD)           62.9
28     RED CELL DISTRIBUTION WIDTH (RDW-CV)           17.6
29         PLATELET DISTRIBUTION WIDTH(PDW)           11.1
30                MEAN PLATELET VOLUME(MPV)            9.4
31                           PLATELET COUNT          222.0
32       PLATELET TO LARGE CELL RATIO(PLCR)           20.5
33                        PLATELETCRIT(PCT)           0.21
34                                     IRON           69.1
35       TOTAL IRON BINDING CAPACITY (TIBC)          348.0
36                   TRANSFERRIN SATURATION          19.86
37                  ALKALINE PHOSPHATASE 45          129.0
38                          BILIRUBIN TOTAL           0.35
39                    BILIRUBIN -DIRECT 0.3           0.08
40                     BILIRUBIN (INDIRECT)           0.27
41         GAMMA GLUTAMYL TRANSFERASE (GGT)           91.1
42         ASPARTATE AMINOTRANSFERASE (SGOT           22.5
43           ALANINE TRANSAMINASE (SGPT) 45           21.4
44                            PROTEIN TOTAL            6.6
45                            ALBUMIN SERUM           41.0
46                 SERUM ALB/GLOBULIN 0.9-2           1.64
47                           SERUM GLOBULIN            2.5
48                        TOTAL CHOLESTEROL          220.0
49                   HDL CHOLESTEROL DIRECT           36.0
50                   LDL CHOLESTEROL DIRECT          167.0
51                            TRIGLYCERIDES          188.0
52                      TC/ HDL CHOLESTEROL            6.1
53                                LDL / HDL            4.7
54                         VLDL CHOLESTEROL           37.6
55                  NON-HDL CHOLESTEROL 160          184.1
56  TOTAL CHOLESTEROL HDL LDL TRIGLYCERIDES  TRIGLYCERIDES
57              TOTAL TRIIODOTHYRONINE (T3)           99.0
58                     TOTAL THYROXINE (T4)            6.4
59        THYROID STIMULATING HORMONE (TSH)           3.42
60                BLOOD UREA NITROGEN (BUN)          12.26
61                         CREATININE SERUM           0.74
62                      BUN / SR.CREATININE          16.57
63                                  CALCIUM           9.16
64                            URIC ACID 4.2            3.3
65          EST. GLOMERULAR FILTRATION RATE          117.0

In [81]:
df1 = df1.set_index("Keys")

In [82]:
df1

                                                Values
Keys
H.P.L.C                                            8.3
AVERAGE BLOOD GLUCOSE (ABG)                      192.0
TOTAL LEUCOCYTES COUNT                             6.4
NEUTROPHILS                                       49.7
LYMPHOCYTE PERCENTAGE                             42.8
MONOCYTES                                          2.3
EOSINOPHILS                                        4.7
BASOPHILS                                          0.2
GRANULOCYTE                                        0.3
LYMPHOCYTES ABSOLUTE COUNT                        2.74
GRANULOCYTES(IG)                                  0.02
TOTAL RBC                                         6.13
HEMOGLOBIN                                        18.1
HEMATOCRIT(PCV)                                  50.68
MEAN CORPUSCULAR VOLUME(MCV)                     100.2
MEAN CORPUSCULAR HEMOGLOBIN(MCH)                  29.5
MEAN CORP.HEMO.CONC(MCHC)                         29.5
RED CELL DISTRIBUTION WIDTH SD(RDW-SD)            62.9
RED CELL DISTRIBUTION WIDTH (RDW-CV)              17.6
PLATELET DISTRIBUTION WIDTH(PDW)                  11.1
MEAN PLATELET VOLUME(MPV)                          9.4
PLATELET COUNT                                   222.0
PLATELET TO LARGE CELL RATIO(PLCR)                20.5
PLATELETCRIT(PCT)                                 0.21
IRON                                              69.1
TOTAL IRON BINDING CAPACITY (TIBC)               348.0
TRANSFERRIN SATURATION                           19.86
ALKALINE PHOSPHATASE 45                          129.0
BILIRUBIN TOTAL                                   0.35
BILIRUBIN -DIRECT 0.3                             0.08
BILIRUBIN (INDIRECT)                              0.27
GAMMA GLUTAMYL TRANSFERASE (GGT)                  91.1
ASPARTATE AMINOTRANSFERASE (SGOT                  22.5
ALANINE TRANSAMINASE (SGPT) 45                    21.4
PROTEIN TOTAL                                      6.6
ALBUMIN SERUM                                     41.0
SERUM ALB/GLOBULIN 0.9-2                          1.64
SERUM GLOBULIN                                     2.5
TOTAL CHOLESTEROL                                220.0
HDL CHOLESTEROL DIRECT                            36.0
LDL CHOLESTEROL DIRECT                           167.0
TRIGLYCERIDES                                    188.0
TC/ HDL CHOLESTEROL                                6.1
LDL / HDL                                          4.7
VLDL CHOLESTEROL                                  37.6
NON-HDL CHOLESTEROL 160                          184.1
TOTAL CHOLESTEROL HDL LDL TRIGLYCERIDES  TRIGLYCERIDES
TOTAL TRIIODOTHYRONINE (T3)                       99.0
TOTAL THYROXINE (T4)                               6.4
THYROID STIMULATING HORMONE (TSH)                 3.42
BLOOD UREA NITROGEN (BUN)                        12.26
CREATININE SERUM                                  0.74
BUN / SR.CREATININE                              16.57
CALCIUM                                           9.16
URIC ACID 4.2                                      3.3
EST. GLOMERULAR FILTRATION RATE                  117.0

In [83]:
df1.to_json('nee_data.json',orient='records')

In [34]:
d2 = df1.transpose()

In [35]:
d2

Keys,TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng/d|,TOTAL THYROXINE (T4) C.L.L.A,THYROID STIMULATING HORMONE (TSH) C.LI.A HIU/ml
Values,118.0,12.9,5.14

In [36]:
dfdict =d2.to_dict()

In [37]:
d2.to_json('d2.json',orient='records')

In [38]:
dfdict

{'TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng/d|': {'Values': 118.0},
 'TOTAL THYROXINE (T4) C.L.L.A': {'Values': 12.9},
 'THYROID STIMULATING HORMONE (TSH) C.LI.A HIU/ml': {'Values': 5.14}}

In [39]:
result = d2.to_json(orient="records")

In [40]:
print(result)

[{"TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng\/d|":118.0,"TOTAL THYROXINE (T4) C.L.L.A":12.9,"THYROID STIMULATING HORMONE (TSH) C.LI.A HIU\/ml":5.14}]

In [41]:
d2.to_string(index=False)

' TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng/d|  TOTAL THYROXINE (T4) C.L.L.A  THYROID STIMULATING HORMONE (TSH) C.LI.A HIU/ml\n                                    118.0                          12.9                                             5.14'

In [42]:
# Creating the Series 
sr = pd.Series(dfdict) 
  
# Print the series 
print(sr)

TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng/d|           {'Values': 118.0}
TOTAL THYROXINE (T4) C.L.L.A                        {'Values': 12.9}
THYROID STIMULATING HORMONE (TSH) C.LI.A HIU/ml     {'Values': 5.14}
dtype: object

In [43]:
dic = dict(df1)

In [44]:
sr = pd.Series(dic)

In [45]:
sr

Values    Keys
TOTAL TRIIODOTHYRONINE (T3) C.LI.A ng/d| ...
dtype: object